
body{
    font-family: sans-serif;
}

.box
{
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 500px;
    position: absolute;
    left: 700px;
    top:200px;
    translate: (-50% , -50%);
   
}

.box form {
     display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.box  form button {
    margin: 20px;
   color: white;
   background-color: blueviolet;
   border-radius: 8px;
   outline: none;
   border-color:blueviolet ;
   height: 50px;
    
}


.box  form input {
    margin:20px;
   height: 20px;
   padding: 10px;
}

.box .output {
     margin:20px;
     text-align: center;
     color: rgb(9, 129, 15);

}
